!!! 5
html
  head
    title= title
    style(type="text/css")
        body {
            font-family: helvetica, arial, sans-serif;
        }
        #main {
            width : 50%;
            margin : auto;
            padding-top : 10%;
            text-align : center;
        }
        #link {
            border: 1px dotted black;
            padding: 5px;
            background: red;
        }
        #link:hover {
            cursor: pointer;
        }

  body!= body
