!!! 5
html
  head
    script(type='text/javascript', src='javascripts/jquery.js')
    title= title
    style(type="text/css")
        body {
            font-family: helvetica, arial, sans-serif;
            margin-left: 75px;
        }
        #main {
            width: 500px;
            margin-left: 50px;
        }
        #description {
            border: 1px solid black;
            padding: 5px;
        }
        #profile {
            border: 1px solid black;
            padding: 5px;
        }

        #signup {
            width: 500px;
            padding: 10px;
            margin-top: 5px;
        }
  body!= body
